
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    width: 100vw;
	height: 100vh;
	background: linear-gradient(334deg, #557481, #4e5358, #363636);
	/* background-size: 180% 180%; */
	animation: gradient-animation 6s ease infinite;
}



@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
  }
}

body {
 display: grid;
  justify-items: center;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#inner-container {
  align-items: center;
  justify-content: center;
}

#navbarNavAltMarkup{
  flex-grow: 0;
}

#stuff-holder{
  justify-content: space-around;
}

#navbar-container {
  padding-left: 10%;
  padding-right: 10%;
  
}

h1, h5, p {
  color: white;
}

#stuff {
  height: 80%;
}

#content-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}